/ServerSide/DataCollector/DataCollectorServer/nbproject/private/
/ServerSide/DataCollector/DataCollectorServer/build/
/ServerSide/WebService/WebService_/nbproject/private/
/ServerSide/WebService/WebService_/build/
/ServerSide/WebService/WebService_/dist/